name: places
description: ""

publish_to: 'none'
version: 1.0.0+1

environment:
  sdk: ">=2.7.0 <3.0.0"

dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^1.0.2
  flutter_svg: ^0.19.3
  
dev_dependencies:
  flutter_test:
    sdk: flutter

flutter:
  uses-material-design: true


  assets:
    - res/images/


  fonts:
    - family: RobotoMono
      fonts:
        - asset: res/fonts/RobotoMono-Regular.ttf
        - asset: res/fonts/RobotoMono-Bold.ttf
          weight: 700
